<div class="header">
  <div class="logo">
    <img src="https://i.postimg.cc/mDZ6xwry/Untitled-Artwork.png" alt="logo" />
  </div>
  <div class="title" id="navbar-title">Volunteer Center</div>
  <div class="menu-icon" id="menuIcon" onclick="toggleDropdown()">
    <i class="bx bx-menu" style="color: white; font-size: 30px"></i>
  </div>
  <div class="dropdown" id="dropdownMenu">
    <div class="dropdown-content" id="navbar-links">
      <!-- Links will be injected by navbar.js -->
    </div>
  </div>
</div>
