* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0951bd;
  color: whitesmoke;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1000;
}

.header .logo img {
  height: 40px;
  width: auto;
}

.menu-icon {
  cursor: pointer;
}

.header .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: whitesmoke;
}

.container {
  background-color: whitesmoke;
  width: 500px;
  margin: 80px auto 40px 0px;
  padding: 20px;
  border-radius: 8px;
  overflow: visible;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  overflow-y: auto;
}

textarea {
  resize: vertical;
  min-height: 40px;
}

.menu-icon {
  cursor: pointer;
}

.logo img {
  height: 40px;
  width: auto;
}

input,
textarea,
select {
  border: 2px solid black;
  width: 120%;
  max-width: 100%;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: black;
}

.buttons {
  text-align: left;
}

.buttons button {
  background-color: #0951bd;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.footer {
  background-color: #0951bd;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
